{% extends 'basebs.html' %} {% block title %} {% endblock %} {% block content %}

<H1>CLIENTES</H1>
<form action={{url_for( 'index')}} method='POST'>
    FILTRO - CARGO : <input name="cargo"></input>
    <button class="btn btn-primary" onsubmit="this.form.submit()">Filtrar</button>


</form>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope='col'>NOMBRE</th>
            <th scope='col'>APELLIDO</th>
            <th scope='col'>EMAIL</th>
            <th scope='col'>CARGO</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for d in data %}
        <tr>
            <th scope="row">{{ d.1}}</th>
            <th>{{ d.2}}</th>
            <th>{{ d.3}}</th>
            <th>{{ d.4}}</th>
            <th>
                <form action="{{ url_for('eliminar') }}" method="POST">
                    <input type="hidden" name="eid" value="{{ d.0 }}" />
                    <input type="submit" value="ELIMINAR" class="btn btn-danger" />
                </form>
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>






<H1>HOLA MUNDO 2 {{ nombre }}</H1>
<p>Tu direccion IP es {{ user_ip }}</p>
{% if user_ip == '127.0.0.1' %}
<h2>Esta conectado desde su pc local</h2>> {% endif %}
<a href="{{ url_for('productos') }}"> PRODUCTOS</a> {% endblock %}